#gotraffic_right .tree
{
	margin-left:20px;
  padding:0;
  list-style:none;  
}


#gotraffic_right .tree ul {
  margin:0;
  padding:0;
  list-style:none;
}

#gotraffic_right .tree ul {
  margin-left:1em; /* indentation */
  position:relative;
}

#gotraffic_right .tree ul ul {margin-left:2em} /* (indentation/2) */

#gotraffic_right .tree ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:2px dashed #009688;
  z-index:-1;
}

#gotraffic_right .tree li {
  margin:0;
  padding:0 2.5em; /* indentation + .5em */
  line-height:2em; /* default list item's `line-height` */
  color:#369;
  font-weight:bold;
  position:relative;
}

#gotraffic_right .tree ul li:before {
  content:"";
  display:block;
  width:30px; /* same with indentation */
  height:0;
  border-top:2px dashed #009688;
  margin-top:-1px; /* border top width */
  position:absolute;
  top:1em; /* (line-height/2) */
  left:0;
  z-index:-1;
}

#gotraffic_right .tree ul li:last-child:before {
  background:white; /* same with body background */
  height:auto;
  top:1em; /* (line-height/2) */
  bottom:0;
}
#gotraffic_right .menu{
    font-size: 16px;
    margin-left: 10px;
    padding: 5px;
	font-weight:bold;
	
}
#gotraffic_right .menu span
{
	cursor:pointer;
}


#gotraffic_right .sub_menu {
    font-size: 14px;
    margin-left: 10px;
    padding: 20px;
	font-weight:normal;
	cursor:pointer;
}
#gotraffic_right .time
{
	color:#777777;font-size:12px;display:block;margin-left:10px;line-height:14px;
}